body{

}

section{
background-image: url(../images/bg.png);
background-size: contain;
background-repeat: no-repeat;
height:100vh;
background-position:right bottom;
padding-top: 20px; 
}
header{
width: 80%;
margin-left: auto;
margin-right: auto;
}
.register{
	border-radius: 30px;
    margin-left: 0px;
    background-color: #3b9bfc;
    font-size: 39px;
}
.logo{
	text-decoration: none;
	font-weight: 900;
	color: blue;
	font-size: 25px;
	width: 20%;
    float:left;
}
nav{
	width: 80%
	float: right;
}
nav ul{
	margin: 0px;
	padding: 0px;
	text-align: right;


}
nav ul li{
	display: inline-block;

}
nav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #594a5f;
	font-size: 15px;
	padding: 15px;
	font-family: sans-serif;
	transition-duration: 0.4s;
	border-radius: 30px;
}
nav ul li a:hover{
	color: #ffffff;
	background-color:#00A1D6;
}
div{
	width: 400px;
	float:left;
}

h1{
	
color: #3b9bfc;
	
font-weight: 900;
	
margin-left: 126px;
	
padding-top: 87px;
	
text-align: inherit;
}
p{
	color: #2c1e56;
	font-size: 16px;
	margin-left: 126px;
	/* margin-left: 6px; */
	padding-top: 10px;
}
.button{
    border-radius: 30px;
    margin-left: 125px;
    padding-top: 10px;
    background-color: #3b9bfc;
    font-size: 39px;
}
button a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffff;
    padding: 10px;
    padding: 9px 20px;
    display: block;
    border-radius: 30px;
    transition: background-color 2s;
   